@charset "UTF-8";

body {
    background-color: rgb(235, 194, 179);
    font-family: fantasy;
}

a {
    color: blue;
    text-decoration: none;

}

a:visited {
    color: darkred;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active {
    color: darkgoldenrod;
}

h1 {
    color: black;
}

h2 {
    color: darkblue;
}

p {
    text-align: justify;
}